@tailwind base;
@tailwind components;
@tailwind utilities;

.updated_documents {
	@apply 
	text-sm text-center my-4 font-normal leading-tight tracking-tight 
	text-gray-900 md:text-lg dark:text-white;
}

.medicine_list_container {
	@apply
	w-auto;
}

.sub_medicine {
    @apply
    block 
	/* max-w-2xl p-6 m-4 */
	mobile_s:max-w-72
	mobile_m:max-w-80
	mobile_l:max-w-96
	md:w-auto
	m-4
	p-6 space-y-4 
	md:space-y-6 sm:p-8
    bg-white border border-gray-200 
    rounded-lg shadow  
    dark:bg-gray-800 dark:border-gray-700;
}

.medicine_name {
    @apply
    mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
}

.new_document {
	@apply
	inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-normal text-red-500 bg-red-100 rounded-full;
}

.new_document svg {
	@apply
	w-6 h-6;	
}

.details {
	@apply text-base; /* This keeps the text size standard */
}

.medicine_status {
	@apply mb-4; /* Adjust margin-bottom as needed */
}

.btn_sub_pharmacy_only_presc {
	@apply
	text-white bg-red-700 
	font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 
	dark:bg-red-600 ;
}

.btn_sub_pharmacy_only {
	@apply
	text-white bg-yellow-400 
	font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 
}

.btn_sub_general_sale {
	@apply
	text-white bg-green-700 
	font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 
	dark:bg-green-600 
}

.btn_sub_collection_medicine {
	@apply
	flex justify-center
	w-full;
}

.btn_sub_collection_med_left {
	@apply
	flex-1
	mobile_s:text-xxs
	mobile_m:text-xs
	mobile_l:text-sm
	md:text-base
	text-center
	px-4 py-2 font-medium text-gray-900 
	bg-transparent border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700;
}

.btn_sub_collection_med_mid {
	@apply
	flex-1
	mobile_s:text-xxs
	mobile_m:text-xs
	mobile_l:text-sm
	md:text-base
	text-center
	px-4 py-2 font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700;
}

.btn_sub_collection_med_right {
	@apply
	flex-1
	mobile_s:text-xxs
	mobile_m:text-xs
	mobile_l:text-sm
	md:text-base
	text-center
	px-4 py-2 font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700;
}