@tailwind base;
@tailwind components;
@tailwind utilities;

.search_product_container {
	@apply 
	w-full bg-white rounded-lg shadow dark:border 
	md:mt-0  
    mobile_s:max-w-xs 
    mobile_m:max-w-sm
    mobile_l:max-w-md
    sm:max-w-2xl 
    xl:p-0	
	dark:bg-gray-800 dark:border-gray-700;
}

.search_product_bar {
	@apply 
	p-4 space-y-4 
    mobile_s:max-w-xs 
    mobile_m:max-w-sm
    mobile_l:max-w-md
    sm:max-w-lg
    md:max-w-2xl
    md:space-y-6 
    sm:p-8;
}

.search_container {
    @apply
    flex flex-row justify-center
}

.search_product_form {
    @apply
    mobile_s:max-w-xs 
    mobile_m:max-w-sm
    mobile_l:max-w-md
    sm:max-w-lg
    md:max-w-2xl
    max-w-xl mx-auto;
}

.dropdown {
    @apply
    bg-white divide-y divide-gray-100 rounded-lg shadow w-44 
    dark:bg-gray-700; 
}

.search_type {
    @apply
    appearance-none 
    mobile_s:text-xs
    mobile_m:text-sm
    mobile_l:text-base
    mobile_s:max-w-8
    mobile_m:max-w-10
    mobile_l:max-w-12
    sm:max-w-lg
    md:max-w-xl
    bg-gray-50 
    border border-gray-300 
    inline-flex items-center 
    text-gray-900 text-sm rounded-s-lg
    focus:ring-blue-500 focus:border-blue-500 
    h-full pl-3 pr-10 py-2 
    dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.dropdown_icon {
    @apply
    pointer-events-none absolute inset-y-0 right-0 flex items-center px-3 
    
    text-gray-900 dark:text-white;
}


.product_input {
    @apply
    block p-2.5 w-full z-20 
    text-sm 
    mobile_s:text-xs
    mobile_m:text-sm
    mobile_l:text-base
    mobile_s:max-w-xs
    mobile_m:max-w-sm
    mobile_l:max-w-md
    sm:max-w-lg
    md:max-w-4xl
    text-gray-900 
    bg-gray-50 
    rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 
    focus:ring-blue-500 focus:border-blue-500 
    dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500;
}


.product_search {
    @apply
    absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}


.product_list_container {
	@apply
	flex flex-col 
    mobile_s:max-w-xs
    mobile_m:max-w-sm
    mobile_l:max-w-md
    sm:max-w-2xl
    md:max-w-3xl
	p-4
}

.product_box {
    @apply 
    w-full bg-white rounded-lg shadow dark:border 
    md:mt-0 
    my-4
    mobile_s:text-xs
    mobile_m:text-sm
    mobile_l:text-base
    mobile_s:max-w-xs 
    mobile_m:max-w-sm
    mobile_l:max-w-md
    sm:max-w-2xl
    md:max-w-3xl
	xl:p-4
	text-gray-800 dark:text-gray-300
    dark:bg-gray-800 dark:border-gray-700 p-4
}

.product_row {
    @apply
    flex flex-row 
}

.product_row:not(:last-child) {
	@apply border-b border-gray-600;
}

.product_col {
	@apply
	flex flex-col items-center
	p-4 relative flex-auto
	justify-start
}

.product_name {
    @apply
    mb-2 
    mobile_s:text-xs
	mobile_m:text-sm
	md:text-xl
    text-2xl font-bold tracking-tight text-gray-900 dark:text-white
    break-words;
}


.sub_product_row {
    @apply flex justify-between items-center py-4;
}
  
.sub_product_info {
    @apply flex flex-col flex-1;
}
.sub_product_info p {
    @apply 
    mobile_s:text-xs
	mobile_m:text-sm
	mobile_l:text-base 
	md:text-xl
    m-1;
}
  

.btn_search_product {
    @apply
    absolute 
    top-0 end-0 p-2.5 
    text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.sub_product_actions {
    @apply 
    flex 
    justify-end;
}


.btn_sub_product {
    @apply 
    my-2
    mobile_s:w-1/2
    mobile_s:text-xs
    mobile_l:text-base
    md:w-full
    flex
    justify-center
    text-white bg-primary-600 
    hover:bg-primary-700 focus:ring-4 focus:outline-none 
    focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5
    dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}


.sub_product_row:not(:last-child) {
    @apply border-b border-gray-600;
}