@tailwind base;
@tailwind components;
@tailwind utilities;

.main_container {
	@apply
	bg-gray-50 dark:bg-gray-900;
}

.sub_container {
  	@apply 
	flex flex-col items-center justify-center 
	px-6 py-8 mx-auto 
	md:h-screen lg:py-0;
}
.main_title {
	@apply text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white;
}

.sub_title {
	@apply 
	my-2
	text-base font-bold leading-tight tracking-tight 
	text-gray-900 md:text-2xl dark:text-white;
}


/* LOGIN */
.sign_in_container {
	@apply 
	w-full bg-white rounded-lg shadow dark:border 
	md:mt-0 sm:max-w-md xl:p-0	
	dark:bg-gray-800 dark:border-gray-700;
}

.sign_in {
	@apply 
	p-6 space-y-4 md:space-y-6 sm:p-8;
}

.sign_in_form {
	@apply space-y-4 md:space-y-6;
}

.sign_in_form label {
	@apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.sign_in_form input {
	@apply
	bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.sign_in_form p {
	@apply
	text-sm font-light text-gray-500 dark:text-gray-400;
}


.btn_login {
	@apply
	w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.btn_collection_sign_in {
	@apply
	inline-flex rounded-md shadow-sm
}

.sign_up_btn {
	@apply
	px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white;
}

.guest_btn {
	@apply
	px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white;
}

/* START HOME */
.home_container {
	@apply 
	w-full bg-white rounded-lg shadow dark:border 
	md:mt-0 sm:max-w-md xl:p-0	
	dark:bg-gray-800 dark:border-gray-700;
}

.home {
	@apply 
	p-6 space-y-4 md:space-y-6 sm:p-8;
}

.home_title {
	@apply
	flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white;
}

.btn_collection {
	@apply
	mx-auto
	w-full
	max-w-xs flex flex-col rounded-lg shadow-sm;
}

.btn_collection_top {
	@apply
	py-3 px-4 inline-flex items-center gap-x-2 rounded-t-md text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600;
}

.btn_collection_mid {
	@apply
	-mt-px py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600;
}

.btn_collection_bottom {
	@apply
	-mt-px py-3 px-4 inline-flex items-center gap-x-2 rounded-b-md text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none 
	dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600;
}

/* END HOME */

.btn_primary {
  	@apply 
	my-2
	w-full text-white bg-primary-600 
	hover:bg-primary-700 focus:ring-4 focus:outline-none 
	focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
	dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}


/* TODO: Use this loading button for subscribe (and also check usestate) */
.loading_btn {
	@apply
	text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center;
}

.disabled_btn {
	@apply
	text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}