
@tailwind base;
@tailwind components;
@tailwind utilities;

.main_container {
    @apply
    min-h-screen 
	bg-blue-100
	dark:bg-gray-900;
}

.sub_container {
    @apply 
    flex flex-col items-center justify-center 
    px-6 py-8 mx-auto 
    w-full;
}

.sub_container_header {
    @apply 
    flex items-center 
    justify-center w-full
    px-6 py-8 mx-auto;
}
  
.btn_return {
    @apply my-2 text-white 
	bg-primary-600 hover:bg-primary-700 
	focus:ring-4 focus:outline-none focus:ring-primary-300 
	font-medium rounded-lg text-sm px-5 py-2.5 
	dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.main_title {
	@apply text-4xl font-bold m-4 leading-tight tracking-tight text-gray-900 md:text-4xl dark:text-white;
}

.sub_title {
	@apply 
	my-2
	text-base font-bold leading-tight tracking-tight 
	text-gray-900 md:text-2xl dark:text-white;
}

.btn_primary {
  	@apply 
	my-2
	w-full
	text-center
	text-white bg-primary-600 
	hover:bg-primary-700 focus:ring-4 focus:outline-none 
	focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5
	dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.error {
	@apply 
	flex items-center p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
}


.loading {
	@apply
	p-2 text-left text-gray-900 dark:text-white;
}

.search_loading {
	@apply
	italic
	p-2 text-left text-gray-700;
}

.search_warning {
	@apply 
	flex items-center p-4 my-4 text-sm 
	bg-yellow-400 text-white rounded-lg dark:bg-yellow-500 dark:text-white;
}

.loading_btn {
	@apply
	text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center;
}

.disabled_btn {
	@apply
	text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}